div.about {
  display: block;
  position: relative;
  max-width: 100%;

  margin-bottom: 48px;

  img.mug {
    display: inline-block;
    position: relative;

    width: 320px;
    max-width: calc(100% - 24px);
    margin: 0 12px 24px;
  }

  span.bio {
    display: inline-block;
    position: relative;

    letter-spacing: 0.015em;
    vertical-align: top;
    line-height: 26px;
    text-align: left;

    width: 320px;
    max-width: calc(100% - 24px);
    margin: 0 12px 24px;

    p {
      margin: 0 0 24px;
      text-align: justify;
      text-indent: 8px;
    }

    a.button.contact {
      margin: 4px 32px 0 0;
    }
  }

  @media screen and (max-width: 710px) {
    span.bio {
      text-align: center;

      a.button.contact {
        width: calc(100% - 48px);
        margin: 12px 0 24px 0;
      }
    }
  }
}

div.work {
  display: block;
  position: relative;
  max-width: 100%;

  margin-bottom: 48px;

  div.job_row {
    display: block;
    position: relative;
    max-width: 100%;

  }

  span.job_col {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 100%;

    margin-bottom: 24px;

    img.logo {
      display: block;
      position: relative;

      width: 320px;
      max-width: calc(100% - 24px);
      margin: 0 12px 24px;
    }

    span.logo {
      display: block;
      position: relative;

      height: 160px;
      width: 320px;
      max-width: calc(100% - 24px);
      margin: 0 12px 24px;

      background-position: center;
      background-size: 100%;

      &.you {
        &:after {
          content: '?';
          display: inline-block;
          position: absolute;

          width: 60px;
          height: 60px;

          top: calc(50% - 34px);
          left: calc(50% - 34px);

          border-width: 4px;
          border-radius: 100%;
          border-style: solid;

          line-height: 60px;
          font-size: 40px;
          opacity: 0.125;
        }
      }
    }

    span.text {
      display: block;
      position: relative;

      letter-spacing: 0.015em;
      vertical-align: top;
      line-height: 26px;
      text-align: left;

      width: 320px;
      max-width: calc(100% - 24px);
      margin: 0 12px 24px;

      p {
        margin: 0 0 16px;
        text-align: justify;
        text-indent: 8px;

        a.more {
          margin-left: 8px;
          font-size: 14px;
        }
      }
    }
  }
}
