@import '_reset';
@import 'global';
@import 'social';
@import 'image-viewer';

div.page {
  min-width: 152px;
  padding: 16px 4px;
  text-align: center;

  div.header {
    margin: 0 12px;

    h1.name {
      color: #222;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 0.03em;

      font-weight: 400;
      line-height: 34px;
      margin-bottom: 16px;
    }
  }

  div.footer {
    margin: 64px 12px 0;

    .copyright {
      display: inline-block;
      margin-top: 48px;
    }
  }

  &.e404 {
    h3 {
      font-size: 50px;
      margin: 150px 0;
    }
  }

  @import 'page/home';
  @import 'page/work';
}
