@import '_reset.scss';

@import '~foundation-sites/scss/util/util';
@import '_settings.scss';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

body {
  background: #fff;
  
  h1 {
    color: #000;
  }
}

#body_wrapper {
  padding: 16px;
}
