@import '_reset.scss';

// @import 'foundation-styles.scss';
// @import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap');

body {
  color: #222;
  background: #fff;

  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;

  a {
    color: #222;
  }

  a.button {
    display: inline-block;
    position: relative;
    padding: 10px 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border-style: solid;
    border-width: 2px;
    border-color: #222;
    background: #fff;
    color: #222;

    &:hover {
      background: #f9f9f9;
      color: #222;
    }

    &:active {
      background: #222;
      color: #fff;
    }
  }

  .main_wrapper {
    padding: 16px 4px;
    text-align: center;

    div.header_wrapper {
      margin: 0 12px;

      h1.name {
        color: #222;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        font-weight: 400;
        line-height: 34px;
        margin-bottom: 16px;
      }

      h2.title {
        color: #222;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        font-weight: 400;
        line-height: 18px;
        margin-bottom: 16px;
      }
    }

    div.social_wrapper {
      span.social_links {
        display: inline-block;
        position: relative;
        margin-bottom: 24px;

        a.social {
          display: inline-block;
          position: relative;

          height: 40px;
          width: 40px;

          color: #222;
          fill: #222;

          font-size: 32px;
          font-weight: 800;
          line-height: 42px;
          text-align: center;
          text-decoration: none;

          border-radius: 16px;
          border-width: 0px;
          border-style: solid;
          border-color: #000;

          svg, img {
            height: 24px;
            width: 24px;
          }

          &:hover {
            background: rgba(250, 250, 250, 1);

            color: inherit;
            fill: inherit;
            opacity: 0.8;

            &.facebook {
              color: #1976f2;
              fill: #1976f2;
              opacity: 1;
            }
            &.instagram {
              color: #E4405F;
              fill: #E4405F;
              opacity: 1;
            }
            &.twitter {
              color: #1DA1F2;
              fill: #1DA1F2;
              opacity: 1;
            }
            &.github {
              color: #181717;
              fill: #181717;
              opacity: 1;
            }
            &.linkedin {
              color: #0077B5;
              fill: #0077B5;
              opacity: 1;
            }
            &.strava {
              color: #fc4c01;
              fill: #fc4c01;
              opacity: 1;
            }
          }
        }
      }
    }

    div.about_wrapper {
      display: inline-block;
      position: relative;
      max-width: 100%;

      margin-bottom: 24px;

      img.mug {
        display: inline-block;
        position: relative;

        width: 320px;
        max-width: calc(100% - 24px);
        margin: 0 12px 24px;
      }

      span.bio {
        display: inline-block;
        position: relative;

        letter-spacing: 0.015em;
        vertical-align: top;
        line-height: 26px;
        text-align: left;

        width: 320px;
        max-width: calc(100% - 24px);
        margin: 0 12px 24px;

        p {
          margin: 0 0 16px;
          text-align: justify;
          text-indent: 8px;
        }

        a.button.contact {
          margin: 4px 24px 0 0;
        }

        a.resume_link {

        }
      }

      @media screen and (max-width: 368px) {
        span.bio {
          text-align: center;

          a.button.contact {
            width: calc(100% - 48px);
            margin: 12px 0 24px 0;
          }
        }
      }
    }

    div.footer_wrapper {
      margin: 0 12px;

      .copyright {
        display: inline-block;
        margin-top: 48px;
      }
    }
  }
}
